<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Mini Whatsapp</title>
</head>
<body>
    <h3>All Chats</h3>
    <form method="get" action="/chats/new"><Button>New Chat</Button></form>
    <% for( let chat of chats) { %>
    <div class="chat">
        <p><b>From: </b><i><%= chat.from %></i></p>
        <div class="message"><p><%= chat.msg %></p></div>
        <form action="/chats/<%= chat._id %>/edit" method="get"><button><h5>Edit</h5></button></form>
        <form action="/chats/<%= chat._id %>?_method=DELETE" method="POST"><button><h5>Delete</h5></button></form>
        <p><b>Received by: </b><i><%= chat.to%></i></p>
        <hr>
        <p><%= chat.created_at.toString().split(" ")[4] %></p>
        <p><%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %></p>
    </div>
    </div>
    <br><br><br>
    <% } %>
    <script src="/delete.js"></script>
</body>
</html>
